{% extends 'market/base.html' %}
{% load static %}

{% block content %}
<section class="checkout spad">
    <div class="container">

        <div class="checkout__form">
            <h4>Оформление заказа</h4>
            <form method="POST" action="{% url 'market:process-order' %}" id="checkoutForm">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Имя<span>*</span></p>
                                    <input type="text" name="first_name" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Фамилия<span>*</span></p>
                                    <input type="text" name="last_name" required>
                                </div>
                            </div>
                        </div>
                        <div class="checkout__input">
                            <p>Страна<span>*</span></p>
                            <input type="text" name="country" required>
                        </div>
                        <div class="checkout__input">
                            <p>Адрес<span>*</span></p>
                            <input type="text" placeholder="Улица и дом" class="checkout__input__add" name="address" required>
                        </div>
                        <div class="checkout__input">
                            <p>Город<span>*</span></p>
                            <input type="text" name="city" required>
                        </div>
                        <div class="checkout__input">
                            <p>Почтовый индекс<span>*</span></p>
                            <input type="text" name="postcode" required>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Телефон<span>*</span></p>
                                    <input type="tel" name="phone" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Email<span>*</span></p>
                                    <input type="email" name="email" required>
                                </div>
                            </div>
                        </div>
                        <div class="checkout__input">
                            <p>Примечания к заказу</p>
                            <input type="text" placeholder="Комментарии к доставке" name="notes">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <h4>Ваш заказ</h4>
                            <div class="checkout__order__products">Товары <span>Сумма</span></div>
                            <ul>
                                {% for item in cart_items %}
                                <li>{{ item.product.name }} x {{ item.quantity }} <span>${{ item.total }}</span></li>
                                {% endfor %}
                            </ul>


                            <div class="checkout__input__checkbox">
                                <label for="payment">
                                    Наличными при получении
                                    <input type="checkbox" id="payment" checked>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="checkout__input__checkbox">
                                <label for="terms">
                                    Я согласен с условиями покупки
                                    <input type="checkbox" id="terms" required>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <button type="submit" class="site-btn" id="submitBtn">ОФОРМИТЬ ЗАКАЗ</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<script>
document.getElementById('checkoutForm').addEventListener('submit', function(e) {
    const submitBtn = document.getElementById('submitBtn');
    submitBtn.disabled = true;
    submitBtn.innerHTML = '<i class="fa fa-spinner fa-spin"></i> Обработка...';
});
</script>
{% endblock %}