{% extends 'market/base.html' %}
{% load static %}
{% block content %}




{% for image in images %}
                    <div class="hero__item set-bg" data-setbg="{{ image.image.url }}">
                        <div class="hero__text">
                            <span>{{ image.description }}</span>
                            <h2>{{ image.title }}</h2>
                            <p>Free Pickup and Delivery Available</p>
                            <a href="{% url 'market:shop-grid' %}" class="primary-btn">Купить сейчас</a>
                        </div>
                    </div>
{% endfor %}
<br>
<br>
<br>
  <!-- Секция hero (слайдер изображений) -->
<div class="hero__slider owl-carousel">
    {% for image in images %}
    <div class="hero__item set-bg" data-setbg="{{ image.image.url }}">
        <div class="hero__text">
            <span>{{ image.description }}</span>
            <h2>{{ image.title }}</h2>
            <p>Free Pickup and Delivery Available</p>
            <a href="{% url 'market:shop-grid' %}" class="primary-btn">Купить сейчас</a>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Секция categories (карусель товаров) -->
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                {% for product in products %}
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="{{ product.image.url }}">
                        <h5><a href="{% url 'market:shop-details' slug=product.slug %}">{{ product.name }}</a></h5>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
    <!-- Footer Section Begin -->
